.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    min-height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        input {
            height: 2.5rem;
        }
        input[type='submit'] {
            padding: 0.5rem 1rem;
        }
        input::placeholder {
            color: #888;
        }
    }

    h4 {
        text-align: center;
        color: #c2c7d0;
    }

    .error {
        color: #f00;
    }

    .hide {
        display: none;
    }
}
